<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./drinks.css">
    <title>47th Cafe | Drinks</title>
    <link rel="icon" href="../src/coffee.png">
</head>
<body>



   <nav class="navigation">
      <div class="logo">
        <h3>47<sup>th</sup></h3>
        <p><i>Cafe</i></p>
      </div>
     <div class="nav-links">
        <a href="./home.html">Home</a>
        <a href="This.html">This is us</a>
        <a href="./Menu.html">Menu</a>
        <a href="./onlineservice.html">Order</a>
        <a href="./contactus.html">Contact Us</a>
        <img src="../src/Dimg1.png" alt="profile" class="icon2" />
        <a href="#">Login</a>
        <a href="#">Cart(0)</a>
      </div>
    </nav>

    <div class="menu1">
        <h1 class="ourmenu">Our Menu</h1>
        <p class="para">I'm a paragraph. Click here to add your own text and edit me.</p>
        <p class="para">Let your users get to know you</p>
    </div>

    <div class="link">
        <div>
            <a href="./Menu.html" class="link1">All Day Every Day</a>
        </div>
        <div class="">
            <a href="./drinks.html" class="link2">Drinks</a>
        </div>
    </div>

    <div class="drinks">
        <p>Drinks</p>
    </div>

    <div class="coffee">
        <p>Coffee</p>
    </div>

    <div class="drinks1">
        <div class="drink1">
            <h4>Espresso</h4>
            <p>A shot of rich, concentrated coffee.</p>
            <p>$3.00</p>
        </div>
        <div class="drink2">
            <h4>Americano</h4>
            <p>Espresso diluted with hot water.</p>
            <p>$4</p>
        </div>
        <div class="drink3">
            <h4>Latte</h4>
            <p>Espresso with steamed milk and a light layer of foam.</p>
            <p>$6</p>
        </div>
    </div>

    <div class="drinks2">
        <div class="drink11">
            <h4>Cappuccino</h4>
            <p>Equal parts espresso, steamed milk, and foam.</p>
            <p>$6</p>
        </div>
        <div class="drink22">
            <h4>Macchiato</h4>
            <p>Espresso "marked" with a dollop of foam or milk.</p>
            <p>$6</p>
        </div>
        <div class="drink33">
            <h4>Flat White</h4>
            <p>Espresso with steamed milk, less frothy than a latte.</p>
            <p>$8</p>
        </div>
    </div>


    <div class="special">
        <p>Specialty Drinks</p>
    </div>

    <div class="drinks3">
        <div class="drink111">
            <h4>Chai Latte</h4>
            <p>Spiced tea mixed with steamed milk.</p>
            <p>$12</p>
        </div>
        <div class="drink222">
            <h4>Matcha Latte</h4>
            <p>Finely ground green tea powder mixed with milk.</p>
            <p>$12</p>
        </div>
        <div class="drink333">
            <h4>Golden Latte</h4>
            <p>A blend of turmeric, spices, and steamed milk.</p>
            <p>$14</p>
        </div>
    </div>

     <footer class="footer">
      <div class="footer-container">
        <div class="newsletter">
          <h3>Newsletter</h3>
          <p>Stay up to date with all the latest from 47th Cafe</p>
          <form>
            <label>Email *</label><br /><br />
            <input type="email" placeholder="Enter your email" required /><br />
            <div class="checkbox-row">
              <input type="checkbox" id="subscribe" />
              <label for="subscribe"
                >Yes, subscribe me to your newsletter*
              </label>
              <div style="padding-left: 10%">
                <button type="submit">Join</button>
              </div>
            </div>
          </form>
        </div>

        <div class="contact">
          <h3>Talk to Us</h3>
          <p>123-456-7890<br />info@mysite.com</p>
          <p>500 Terry Francine St.<br />San Francisco, CA 94158</p>
        </div>

        <div class="socials">
          <h3>Instagram</h3>
          <h3>Facebook</h3>
          <h3>Twitter</h3>
        </div>
      </div>
       <div class="footer-bottom">
      <p>&copy; 2035 by 47th Cafe. Powered and secured by <a href="https://www.wix.com" target="_blank">Wix</a></p>
    </div>
    </footer>

</body>
</html>