<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Menu.css">
    <link rel="icon" href="../src/coffee.png">
    <title>47th Cafe | Menu</title>
    <style>

    </style>
</head>

<body>

   <nav class="navigation">
      <div class="logo">
        <h3>47<sup>th</sup></h3>
        <p><i>Cafe</i></p>
      </div>
     <div class="nav-links">
        <a href="./home.html">Home</a>
        <a href="This.html">This is us</a>
        <a href="./Menu.html">Menu</a>
        <a href="./onlineservice.html">Order</a>
        <a href="./contactus.html">Contact Us</a>
        <img src="../src/Dimg1.png" alt="profile" class="icon2" />
        <a href="#">Login</a>
        <a href="#">Cart(0)</a>
      </div>
    </nav>

    <div class="menu1">
        <h1 class="ourmenu">Our Menu</h1>
        <p class="para">I'm a paragraph. Click here to add your own text and edit me.</p>
        <p class="para">Let your users get to know you</p>
    </div>

    <div class="link">
        <div>
            <a href="./Menu.html" class="link1">All Day Every Day</a>
        </div>
        <div class="">
            <a href="./drinks.html" class="link2">Drinks</a>
        </div>
    </div>

    <div class="allday">
        <p>All Day Every Day</p>
    </div>

    <div class="bakery">
        <p>Bakery</p>
    </div>

    <div class="dishes">
        <div class="dish1">
            <h4>Croissant (Plain/Chocolate)</h4>
            <p>I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.</p>
            <p>$6.00</p>
        </div>
        <div class="dish2">
            <h4>Daily Muffin</h4>
            <p>I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.</p>
            <p>$6.00</p>
        </div>
        <div class="dish3">
            <h4>Cheesecake</h4>
            <p>I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.</p>
            <p>$6.00</p>
        </div>
    </div>

    <div class="bakery1">
        <p>All Day Breakfast</p>
    </div>

    <div class="dishes1">
        <div class="dish11">
            <h4>Granola & Greek Yogurt</h4>
            <p>I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.</p>
            <p>$12.00</p>
        </div>
        <div class="dish22">
            <h4>Chia Pudding</h4>
            <p>I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.</p>
            <p>$12.00</p>
        </div>
        <div class="dish33">
            <h4>Superfood Acai Bowl</h4>
            <p>I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.</p>
            <p>$12.00</p>
        </div>
    </div>

    <div class="dishes2">
        <div class="dish111">
            <h4>Avocado Toast</h4>
            <p>I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.</p>
            <p>$12.00</p>
        </div>
        <div class="dish222">
            <h4>Eggs Benedict</h4>
            <p>I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.</p>
            <p>$12.00</p>
        </div>
        <div class="dish333">
            <h4>Bacon & Eggs on Rye</h4>
            <p>I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.</p>
            <p>$12.00</p>
        </div>
    </div>


    <div class="dishes3">
        <div class="dish1111">
            <h4>Spinach & Salmon Brioche</h4>
            <p>I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.</p>
            <p>$12.00</p>
        </div>
        <div class="dish2222">
            <h4>Smoked Salmon Bagel</h4>
            <p>I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.</p>
            <p>$12.00</p>
        </div>
        <div class="dish3333">
            <h4>Green Shakshuka</h4>
            <p>I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text.</p>
            <p>$12.00</p>
        </div>
    </div>

  <footer class="footer">
      <div class="footer-container">
        <div class="newsletter">
          <h3>Newsletter</h3>
          <p>Stay up to date with all the latest from 47th Cafe</p>
          <form>
            <label>Email *</label><br /><br />
            <input type="email" placeholder="Enter your email" required /><br />
            <div class="checkbox-row">
              <input type="checkbox" id="subscribe" />
              <label for="subscribe"
                >Yes, subscribe me to your newsletter*
              </label>
              <div style="padding-left: 10%">
                <button type="submit">Join</button>
              </div>
            </div>
          </form>
        </div>

        <div class="contact">
          <h3>Talk to Us</h3>
          <p>123-456-7890<br />info@mysite.com</p>
          <p>500 Terry Francine St.<br />San Francisco, CA 94158</p>
        </div>

        <div class="socials">
          <h3>Instagram</h3>
          <h3>Facebook</h3>
          <h3>Twitter</h3>
        </div>
      </div>
       <div class="footer-bottom">
      <p>&copy; 2035 by 47th Cafe. Powered and secured by <a href="https://www.wix.com" target="_blank">Wix</a></p>
    </div>
    </footer>



</body>

</html>