<!DOCTYPE html>
<html>
  <head>
    <title>47th Cafe | OnlineService</title>
    <link rel="stylesheet" href="OnlineService.css" />
    <link rel="icon" href="../src/coffee.png" />
  </head>
  <body>
    <nav class="navigation">
      <div class="logo">
        <h3>47<sup>th</sup></h3>
        <p><i>Cafe</i></p>
      </div>
      <div class="nav-links">
        <a href="./home.html">Home</a>
        <a href="This.html">This is us</a>
        <a href="./Menu.html">Menu</a>
        <a href="./onlineservice.html">Order</a>
        <a href="./contactus.html">Contact Us</a>
        <img src="../src/Dimg.png" alt="profile" class="icon2" />
        <a href="#">Login</a>
        <a href="#">Cart(0)</a>
      </div>
    </nav>
    <div class="foodimg">
      <div>
        <img src="../src/food.png" />
      </div>
      <br />
      <div>
        <h1>Order Online</h1>
      </div>
      <div>
        <p>
          You can order online! Browse our menu items and choose what you’d like
          to order from us.
        </p>
      </div>
    </div>
    <br />
    <div class="box">
      <div class="round"></div>
      <div><span>Accepting Orders</span></div>
    </div>
    <br /><br />
    <div class="twobox">
      <div class="pickup box1">
        <p>Pickup</p>
      </div>
      <div class="delivery box1">
        <p>Delivery</p>
      </div>
    </div>
    <br />
    <div class="address">
      <div class="time">
        <div>
          <p class="p2">&#x23F0;</p>
        </div>
        <div>
          <p class="p2">Pickup time: Up to 30 minutes</p>
        </div>
        <div>
          <span class="span">Change</span>
        </div>
      </div>

      <div class="location">
        <div>
          <p class="p2">&#x1F4CD;</p>
        </div>
        <div>
          <p class="p2">Pickup Address: San Francisco, CA</p>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="menu">
      <div class="dropdown">
        <label for="dropdown menu"></label>
        <select id="dropdown menu">
          <option value="#Coffee">Drinks</option>
          <option value="#AllDayEveryDay">All Day Every Day</option>
        </select>
      </div>
      <div class="divider">|</div>
      <div class="span1">
        <div>
          <span><a href="#Coffee"> Drinks</a></span>
        </div>
        <div>
          <span><a href="#AllDayEveryDay">All Day Every Day</a></span>
        </div>
      </div>
    </div>
    <br />
    <h2 class="h21">Drinks</h2>
    <h2 class="h22">Coffee</h2>
    <div id="Coffee">
      <div class="container1">
        <div class="card one">
          <p class="p1">Espresso</p>
          <br />
          <p class="p2">A shot of rich,concentrated coffee</p>
          <br />
          <br />
          <p class="p2">$3.00</p>
        </div>
        <div class="card two">
          <p class="p1">Americano</p>
          <br />
          <p class="p2">Espresso diluted with hot water</p>
          <br />
          <br />
          <p class="p2">$4.00</p>
        </div>
        <div class="card three">
          <p class="p1">Latte</p>
          <br />
          <p class="p2">Espresso with steamed milk and a light layer of foam</p>
          <br />
          <br />
          <p class="p2">$6.00</p>
        </div>
        <div class="card four">
          <p class="p1">Cappuccino</p>
          <br />
          <p class="p2">Equal parts espresso,steamed milk, and foam</p>
          <br />
          <br />
          <p class="p2">$6.00</p>
        </div>
        <div class="card five">
          <p class="p1">Macchiato</p>
          <br />
          <p class="p2">Espresso "marked" with a dollop of foam or milk</p>
          <br />
          <br />
          <p class="p2">$7.00</p>
        </div>
        <div class="card six">
          <p class="p1">Flat White</p>
          <br />
          <p class="p2">Espresso with steamed milk, less forthy than a latte</p>
          <br />
          <br />
          <p class="p2">$8.00</p>
        </div>
      </div>
    </div>
    <br /><br />
    <div id="specialty drinks">
      <h2 class="h22">Specialty Drinks</h2>
      <div class="container2">
        <div class="card s1">
          <p class="p1">Chai Latte</p>
          <br />
          <p class="p2">Spiced tea mixed with steamed milk.</p>
          <br />
          <br />
          <p class="p2">$12.00</p>
        </div>
        <div class="card s2">
          <p class="p1">Matcha Latte</p>
          <br />
          <p class="p2">Finely ground green tea powder mixed with milk</p>
          <br />
          <br />
          <p class="p2">$13.00</p>
        </div>
        <div class="card s3">
          <p class="p1">Golden Latte</p>
          <br />
          <p class="p2">A blend of turmeric, spices, and steamed milk.</p>
          <br />
          <br />
          <p class="p2">$14.00</p>
        </div>
      </div>
    </div>
    <br /><br />
    <div id="AllDayEveryDay">
      <h2 class="h22">All Day Every Day</h2>
      <div id="bakery">
        <h2 class="h22">Bakery</h2>
        <div class="container3">
          <div class="card b1">
            <p class="p1">Croissant (Plain/ Chocolate)</p>
            <br />
            <p class="p2">
              I’m a dish description. Click “Edit Menu” to open the Restaurant
              Menu editor and change my text.
            </p>
            <br />
            <br />
            <p class="p2">$6.00</p>
          </div>
          <div class="card b2">
            <p class="p1">Daily Muffin</p>
            <br />
            <p class="p2">
              I’m a dish description. Click “Edit Menu” to open the Restaurant
              Menu editor and change my text.
            </p>
            <br />
            <br />
            <p class="p2">$7.00</p>
          </div>
          <div class="card b3">
            <p class="p1">Cheesecake</p>
            <br />
            <p class="p2">
              I’m a dish description. Click “Edit Menu” to open the Restaurant
              Menu editor and change my text.
            </p>
            <br />
            <br />
            <p class="p2">$14.00</p>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="AllDayBreakfast">
      <h2 class="h22">All-Day Breakfast</h2>
      <div class="container4">
        <div class="card ab1">
          <p class="p1">Granola & Greek Yogurt</p>
          <br />
          <p class="p2">
            I’m a dish description. Click “Edit Menu” to open the Restaurant
            Menu editor and change my text.
          </p>
          <br />
          <br />
          <p class="p2">$12.00</p>
        </div>
        <div class="card ab2">
          <p class="p1">Chia Pudding</p>
          <br />
          <p class="p2">
            I’m a dish description. Click “Edit Menu” to open the Restaurant
            Menu editor and change my text.
          </p>
          <br />
          <br />
          <p class="p2">$4.00</p>
        </div>
        <div class="card ab3">
          <p class="p1">Superfood Acai Bowl</p>
          <br />
          <p class="p2">
            I’m a dish description. Click “Edit Menu” to open the Restaurant
            Menu editor and change my text.m
          </p>
          <br />
          <br />
          <p class="p2">$12.00</p>
        </div>
        <div class="card ab4">
          <p class="p1">Avocado Toast</p>
          <br />
          <p class="p2">
            I’m a dish description. Click “Edit Menu” to open the Restaurant
            Menu editor and change my text.
          </p>
          <br />
          <br />
          <p class="p2">$13.00</p>
        </div>
        <div class="card ab5">
          <p class="p1">Eggs Benedict</p>
          <br />
          <p class="p2">
            I’m a dish description. Click “Edit Menu” to open the Restaurant
            Menu editor and change my text.
          </p>
          <br />
          <br />
          <p class="p2">$15.00</p>
        </div>
        <div class="card ab6">
          <p class="p1">Bacon & Eggs on Rye</p>
          <br />
          <p class="p2">
            I’m a dish description. Click “Edit Menu” to open the Restaurant
            Menu editor and change my text.
          </p>
          <br />
          <br />
          <p class="p2">$20.00</p>
        </div>
        <div class="card ab7">
          <p class="p1">Spinach & Salmon Brioche</p>
          <br />
          <p class="p2">
            I’m a dish description. Click “Edit Menu” to open the Restaurant
            Menu editor and change my text.
          </p>
          <br />
          <br />
          <p class="p2">$13.00</p>
        </div>
        <div class="card ab8">
          <p class="p1">Smoked Salmon Bagel</p>
          <br />
          <p class="p2">
            I’m a dish description. Click “Edit Menu” to open the Restaurant
            Menu editor and change my text.
          </p>
          <br />
          <br />
          <p class="p2">$15.00</p>
        </div>
        <div class="card ab9">
          <p class="p1">Green Shakshuka</p>
          <br />
          <p class="p2">
            I’m a dish description. Click “Edit Menu” to open the Restaurant
            Menu editor and change my text.
          </p>
          <br />
          <br />
          <p class="p2">$20.00</p>
        </div>
      </div>
    </div>
    <br />
      <footer class="footer">
      <div class="footer-container">
        <div class="newsletter">
          <h3>Newsletter</h3>
          <p>Stay up to date with all the latest from 47th Cafe</p>
          <form>
            <label>Email *</label><br /><br />
            <input type="email" placeholder="Enter your email" required /><br />
            <div class="checkbox-row">
              <input type="checkbox" id="subscribe" />
              <label for="subscribe"
                >Yes, subscribe me to your newsletter*
              </label>
              <div style="padding-left: 10%">
                <button type="submit">Join</button>
              </div>
            </div>
          </form>
        </div>

        <div class="contact">
          <h3>Talk to Us</h3>
          <p>123-456-7890<br />info@mysite.com</p>
          <p>500 Terry Francine St.<br />San Francisco, CA 94158</p>
        </div>

        <div class="socials">
          <h3>Instagram</h3>
          <h3>Facebook</h3>
          <h3>Twitter</h3>
        </div>
      </div>
       <div class="footer-bottom">
      <p>&copy; 2035 by 47th Cafe. Powered and secured by <a href="https://www.wix.com" target="_blank">Wix</a></p>
    </div>
    </footer>
  </body>
</html>
