<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>47th Cafe | This is us</title>
    <link rel="icon" href="../src/coffee.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="This.css" />
    <script src="main.js"></script>
  </head>
  <body>
    

    <nav class="navigation" style="font-family: 'Segoe UI', sans-serif;">
      <div class="logo">
        <h3>47<sup>th</sup></h3>
        <p><i>Cafe</i></p>
      </div>
     <div class="nav-links">
        <a href="./home.html">Home</a>
        <a href="This.html">This is us</a>
        <a href="./Menu.html">Menu</a>
        <a href="./onlineservice.html">Order</a>
        <a href="./contactus.html">Contact Us</a>
        <img src="../src/Dimg.png" alt="profile" class="icon2" />
        <a href="#">Login</a>
        <a href="#">Cart(0)</a>
      </div>
    </nav>
    <div class="thisisusparent">
      <div><h1 class="thisisushead">This Is Us</h1></div>
      <p class="thisisuspara onep">
        We're big believers in the power of a good meal and a friendly place to
        eat it.
      </p>
      <p class="thisisuspara twop">
        Stop by for fresh, locally sourced food, served with a warm smile.
      </p>
    </div>
    <div class="thisisusparent2">
      <div class="portionpart1">
        <img class="portionpart1" src="../src/this1.avif" alt="food1" />
      </div>
      <div class="portionpart2">
        <h2 class="portionhead">The Best Bite in the Neighborhood</h2>

        <div class="portionpara">
          <p>
            I'm an extra long title. Click here to add your own text and edit
            me. It’s easy. Just click “Edit Text” or double click me to add your
            own content and make changes to the font. I’m a great place for you
            to tell a story and let your users know a little more about you.
          </p>
          <button> <a href="./Menu.html">View Menu</a> </button>
        </div>
      </div>
    </div>
    <div class="thisisusparent3">
      <h1 class="portion3">Real Food. No Secret Ingredients.</h1>
    </div>
     <div class="thisisusparent4">
       <div class="portionpart2 a1">
         <h2 class="portionhead b1">From Our Hearts to Your Plate</h2>
 
         <div class="portionpara c1">
           <p>
            I'm an extra long title. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
           </p>
           <button>Visit Us</button>
         </div>
       </div>
      <div class="portionpart2">
        <img class="portionpart2" src="../src/this2.avif" alt="food2" />
      </div>
    </div>    
    </div>
     <footer class="footer">
      <div class="footer-container">
        <div class="newsletter">
          <h3>Newsletter</h3>
          <p>Stay up to date with all the latest from 47th Cafe</p>
          <form>
            <label>Email *</label><br /><br />
            <input type="email" placeholder="Enter your email" required /><br />
            <div class="checkbox-row">
              <input type="checkbox" id="subscribe" />
              <label for="subscribe"
                >Yes, subscribe me to your newsletter*
              </label>
              <div style="padding-left: 10%">
                <button type="submit">Join</button>
              </div>
            </div>
          </form>
        </div>

        <div class="contact">
          <h3>Talk to Us</h3>
          <p>123-456-7890<br />info@mysite.com</p>
          <p>500 Terry Francine St.<br />San Francisco, CA 94158</p>
        </div>

        <div class="socials">
          <h3>Instagram</h3>
          <h3>Facebook</h3>
          <h3>Twitter</h3>
        </div>
      </div>
       <div class="footer-bottom">
      <p>&copy; 2035 by 47th Cafe. Powered and secured by <a href="https://www.wix.com" target="_blank">Wix</a></p>
    </div>
    </footer>
  </body>
</html>
