<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Coordinator | About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="aboutstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
     <header class="navigation sticky-top bg-white">
      <div class="container pt-3 pb-2">
        <nav class="navbar navbar-expand-md">
          <div class="container">
            <img class="flower" src="../src/flower.png" alt="flower" />
            <a class="navbar-brand fw-light" id="nava" href="#">
              TWILIGHT EVENTS
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#mainNavbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNavbar">
              <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link" href="./home.html">Home</a>
                </li>

                <li class="nav-item dropdown">
                  <a
                    class="nav-link"
                    href="./services.html"
                    id="services"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Services
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="services">
                    <li>
                      <a class="dropdown-item" href="#services">All Services</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#wedding">Wedding</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#private"
                        >Private Parties</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="#corporate"
                        >Corporate Events</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="nav-item ">
                  <a class="nav-link active" href="./about.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./gallery.html">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./contact.html">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Login</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="container mt-5 ">
         <h1 class="h1 text-center ">A B O U T   U S</h1>
    </div>
    <div class="container mt-5">
        <div class="row g-5">
            <div class="col-12  col-md-4">
              <div class="card fixed-height-card border-0">
                <img src="../src/img1.png" class="card-img-fixed image">
              </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="card cards w-100 h-100 p-4 border-0">
                   <div class="icon"><i class="fa fa-quote-right" ></i></div>
                        <div class="text-center mt-4">
                            <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-shadow: 2px 2px 3px black;">Making Dreams<br>Come True</h1>
                        </div>
                        <div class="text-center mt-5 ">
                            <p class="ms-5 me-5 ">I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                    </div>
                    <div class="text-center mt-5">
                        <p class="p">Jessica Moore <br>Co-Founder & Creative Director</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="container mt-5">
        <div class="row g-5">
            <div class="col-sm-12 col-md-8  order-md-1 order-2">
                <div class="card cards w-100 h-100 p-4 border-0">
                   <div class="icon"><i class="fa fa-quote-right" ></i></div>
                   <div class="text-center mt-4">
                        <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-shadow: 2px 2px 3px black;">Turning a Vision<br>into Reality
                        </h1>
                    </div>
                    <div class="text-center mt-5 ">
                        <p class="ms-5 me-5 ">I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                    </div>
                    <div class="text-center mt-5">
                        <p class="p">Angela Bradshow <br>Co-Founder & Creative Director</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 order-md-2 order-1">
              <div class="card fixed-height-card border-0 ">
                <img src="../src/img2.png" class="card-img-fixed image">
              </div>
            </div>
          </div>
    </div>
    <div class="container mt-5">
        <div class="row g-5">
            <div class="col-sm-12 col-md-4">
              <div class="card fixed-height-card border-0 ">
                <img src="../src/img3.png" class="card-img-fixed image">
              </div>
            </div>
            <div class="col-sm-12 col-md-8 ">
                <div class="card cards w-100 h-100 p-4 border-0">
                   <div class="icon"><i class="fa fa-quote-right" ></i></div>
                   <div class="text-center mt-4">
                        <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-shadow: 2px 2px 3px black;">A Perfectionist on<br> Every Detail
                        </h1>
                    </div>
                    <div class="text-center mt-5 ">
                        <p class="ms-5 me-5 ">I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                    </div>
                    <div class="text-center mt-5">
                        <p class="p">Remy Sellers<br>Co-Founder & Creative Director</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer mt-5">
  <div class="container">
    <div class="row text-center text-md-start">
      <!-- Address -->
      <div class="col-md-3 mb-4">
        <p class="mb-0">500 Terry Francine Street<br>San Francisco<br>CA 94158</p>
      </div>
      <!-- Contact -->
      <div class="col-md-4 mb-4 border-start border-end px-4">
        <p class="mb-1">Tel: 123-456-7890</p>
        <p class="mb-1">Fax: 123-456-7890</p>
        <p class="mb-0">info@mysite.com</p>
      </div>
      <!-- Copyright -->
      <div class="col-md-5 mb-4">
        <p class="mb-1">&copy;2035 by Twilight Events.</p>
        <p class="mb-2">Powered and secured by <a href="#">Wix</a></p>
        <div class="social-icons">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-pinterest-p"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <!-- Button -->
    <div class="text-center mt-3">
      <button class="book-btn">BOOK NOW</button>
    </div>
  </div>
    </footer>
</body>
</html>
